{% extends '@KDCore/base.html.twig' %}
{# Page d'affichage de la liste des thèmes #}

{% block title %} - Thèmes{% endblock %}
{% block main %}
    <h1>Thèmes</h1>
    
        <form class="form-inline" action="{{ path('themes_add') }}" method="post">
            <input type="text" class="form-control" name="nom" placeholder="Nouveau thème">
            <input type="submit" class="btn btn-primary m-1" value="Ajouter un thème">           
        </form>

        <table class="table">
            <tr>
                <th>Thème</th>
                <th>Nombre de questions</th>
                <th>Action</th>
            </tr>
            {% for theme in listThemes %}
                <tr>
                    <td> {{ theme.nom }} </td>
                    <td> {{ theme.nb }} </td>
                    <td> 
                        {% include '@KDCore/Includes/HTML/theme_modal_link.html.twig' with {'theme': theme} only %}
                        {% if theme.nb == 0 %}
                            <a href="{{path("themes_remove",{'id':theme.id})}}" title="Supprimer"><i class="fas fa-trash-alt fa-lg"></i></a>
                        {% else %}
                            <a href="{{path("questions_filtrer_theme",{'id_theme':theme.id})}}" title="Voir"><i class="fas fa-eye fa-lg"></i></a>
                        {% endif %}
                    </td>
                </tr>   
            {% endfor %}
        </table>
        
    {% include '@KDCore/Includes/HTML/modal.html.twig' %}
{% endblock %}

{% block js %}
    {% include '@KDCore/Includes/JS/theme_modal.js.twig' %}
{% endblock %}